@{
    ViewData["Title"] = "Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <section class="panel">
            <div id="message_row">
            </div>
            <header class="panel-heading">
                <h2 class="panel-title">Canjear Código de Promoción</h2>
            </header>
            <div class="panel-body">
                <div class="form-horizontal form-bordered">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Código</label>
                                <input type="text" class="form-control" id="txtCodigo" placeholder="Código">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 pt-3">
                                <button type="button" id="btn-canjear" class="btn btn-lg btn-primary">Canjear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>